%table.profile{:summary => 'Profile information'}
  %tr
    %td{:class => 'main'}
      %h1
        = gravatar_for @user
        = @user.name
      - unless @user.microposts.empty?
        %table.microposts{:summary => 'User microposts'}
          = render @microposts
    %td{:class => 'sidebar round'}
      %strong Name:
      = @user.name
      %br
      %strong Link:
      = link_to 'User profile', @user
      %br
      %strong Microposts:
      = @user.microposts.count
